.sc-tangle-constant {
  color: #0dbe04;
  background: #e4ffed;
  border-radius: 15px;
  border: 1px solid #0dbe04;
  cursor: col-resize;
  padding: 2px 7px;
}

.sc-tangle-expression {
  color: #529cdf;
  background: #e5ecf8;
  border-radius: 15px;
  border: 1px solid #529cdf;
  padding: 2px 7px;
}
